$black_color: #222222;
$pinkColor:#F16D7F;
$fontMenu:14px;


.container{
    max-width:1140px;
    margin: 0 auto;
}

.navbar_992{
    background-color: $black_color ;
    width: 100%;
}

.navbar_992_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    padding: 1% 10%;

}
.search_992{
align-self: center;
}
.left_part_navbar{
    display: flex;
    flex-direction: row;
    align-items:baseline;
   
}
.right_part_navbar{
    display: flex;
    flex-direction: row;
    align-items:baseline;
}
.logo_992{
    margin-right: 40px;
}
.cart_992{
    margin-left: 40px;
    position: relative;
}
.personal_992{
    margin-left: 25px;
}
.cart_992::after {
    content: '5';
    display: block;
    width: 50%;
    height: 50%;
    background-color: #F16D7F;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left: 81%;
    bottom: 81%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.menu_accordion{
    background-color:white;
    padding:1% 1% 7% 2%;
    opacity:0;
    position: absolute;
    right: 0;
    top: 12%;
    min-width: 232px;
    box-sizing:border-box;
    z-index: 2;
    // max-height: 224%;
    p{
        margin: 0;
    }
    ul{
        margin-top: 15%;
    }
}
.title_accordion_link,
.item_menu_accordion_link,
.title_menu_accordion_link{
    font-size: $fontMenu;
    display: block;
}
.item_menu_accordion_link{
margin-left: 18%;
}
.title_accordion_link,
.title_menu_accordion_link{
    text-transform: uppercase;
}
.title_accordion_link{
    color: #000;
}
.title_menu_accordion_link{
    color:$pinkColor;
    line-height: 2.5em;
}
.item_menu_accordion_link{
    color: #6F6E6E;
    line-height: 2.2em;
}
.item_menu_accordion_link:hover{
    color:$pinkColor;
}
.title_menu_accordion_link:hover{
    color:$black_color;
}
.title_accordion_link:hover{
    color:$pinkColor; 
}

.accordion:hover .menu_accordion{
opacity: 1;
}
.banner_992{
    position: relative;
    width: 100%;
}
.img_banner_992{
    width: 50%;
}

.cross{
    color:#6F6E6E;
    text-align: end;
    font-size: 20px;
}
.cross:hover{
    color:$pinkColor;
}
.banner_992{
    background-color: #F1E4E6;
    margin-bottom: 4.5%;
}
.text_banner_992{
    position: absolute;
    right: 20%;
    top: 38%;
    border-left: 12px solid $pinkColor;
    padding: 1%;
    .big_bold{
        font-size: 48px;
    }
    .black_mini,
    .pink_mini{
        font-size: 32px;
        font-weight: 700;
    }
}

.central_part_banners{
    display: grid;
    grid-template-columns:repeat(3,32%);
    grid-template-rows: 260px 180px;
    max-width: 1140px;
    row-gap: 3%;
    margin: 0 auto;
    column-gap:23px;
    
}


.accesories_banners{
    grid-column: 1/4;
}
.img_box_992{
    display: flex;
    justify-content: center;
    position: relative; 
   
    .blur{
        filter:brightness(40%);
        }
    }
.text_logo_992_baners{
    position: absolute;
    top:34%;
    text-align: center;
     }
.first_part_text{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
}
.second_part_text{
    font-size: 24px;
    line-height: 29px;
    color: $pinkColor;
    text-transform: uppercase;
    font-weight: 700;
}

.accordion:hover .menu_accordion{
opacity: 1;
transition-property: opacity;
}
.title_palette_992{
    font-size: 30px;
    font-weight: 400;
    color:$black_color;
    line-height: 36px;
    text-align: center;
    margin-top: 10%;
}
.text_palette_992{
    font-size: 14px;
    font-weight: 400;
    color:#9F9F9F;
    line-height: 17px;
    text-align: center;
}
.title_card_992{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    margin-top: 7.5%;
    margin-bottom: 6%;
}
.text_card_992{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #5D5D5D;
    max-width: 87%;
}
.pink_price_card_992{
    font-size: 16px;
    line-height: 19px;
    color:$pinkColor;
    font-weight: 400;
    margin-top: 5%;
}
.cards_group_992{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(2, 581px);
    row-gap: 30px;
    column-gap: 30px;

}
.card_992{
    background-color: #F8F8F8;
    position: relative;

}
.card_992_text_box{
padding-left: 5%;
}
.card_992:hover .card_img_992{
    filter: brightness(50%);
}
.card_992:hover .btn_on_transparent_lay_992{
    display: flex;
}

.card_img_992{
    position: relative;
    width: 100%;

}
.btn_on_transparent_lay_992{
position: absolute;
    top: 35%;
    left: 32%;
    display: none;
}
.upper_layer{
    position: absolute;
    top: 1%;
    left:29%;
    max-width:50%;

}

.card_link_992{
    display: block;
}
.card_992:hover .upper_layer{
    filter: brightness(50%);
}


.browse_all_992{
    background-color: #ffffff;
    color: $pinkColor;
    border: 1px solid $pinkColor;
    

}

.browse_all_box_992{
    margin-top:48px;
    margin-bottom: 95px;
}
 .browse_all_992:hover{
    background-color:$pinkColor;
    color:  #ffffff;
    border: 1px solid $pinkColor;
}
.icon_lower_banner_benefits_992{
    align-self:center;
}
.footer_banner{
width: 100%;
background-image:url(../img_992/footer.png);
min-height: 448px;
background-size: cover;
background-repeat:no-repeat;
background-position-y:bottom;
}
.footer_992{
    background-color: $black_color;
    
    .copyrights{
        color:#FBFBFB;
    }
    .fa{
        color:$black_color;
    }
}

.footer_boxes_992{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    width: 100%;
    
}

figure{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    img{
        width: 96px;;
    }
    figcaption{
        max-width: 38%;
        text-align: center;
        margin-top: 10%;
    }

}
.subscribe_992{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
}
.footer_992_position{
    position: relative;
}
.social_icon:hover{
background-color:$pinkColor;
}
input.input_field::placeholder{
    color:#222224;
} 


@media screen and (min-width: 1024px) and (max-width: 1200px){
    .central_part_banners{
        max-width: 900px;
        display: grid;
        grid-template-columns:repeat(3,32%);
        grid-template-rows: 48% 32%;
        row-gap: 3%;
        margin: 0 auto;
        column-gap:13px;
    }
    
        .cards_group_992{
            grid-template-rows: repeat(3,581px);
            grid-template-columns: repeat(2,1fr);
            row-gap: 2%;
            column-gap: 2%;
            padding-left: 2%;
            padding-right: 2%;
            margin-bottom: 32px;
            max-width: 734px;
            margin: 0 auto 32px auto;
           
        }
        .lower_part_of_footer{
            padding-left: 10%;
            padding-right: 10%;
        }
        .browse_all_box_992{
            margin-top: 116px;
        }


    
        
    }

@media screen and (min-width:768px)and(max-width:1024px){

    .container{
        width: 100%;
    }
    .navbar_992_container{
        box-sizing:border-box;
        padding-left: 7%;
        padding-right: 7%;
    }
    .img_banner_992{
        width: 50%;
    }
    .banner_992{
        margin-bottom: 20px;
    }
    .text_banner_992{
        right: 3%;
        
        .big_bold{
            font-size: 37px;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 32px;
        }
        .black_mini{
            font-size: 24px;
            letter-spacing: 0;
        }
        .pink_mini{
            font-size: 24px;
            letter-spacing: 0;
        }
    }
    .central_part_banners{
        max-width: 734px;
        display: grid;
        grid-template-columns:repeat(3,32%);
        grid-template-rows: 167px 116px;
        row-gap: 6%;
        margin: 0 auto;
        column-gap:16px;
    }
    .cards_group_992{
        grid-template-rows: repeat(3,581px);
        grid-template-columns: repeat(2,360px);
        row-gap: 2%;
        column-gap: 2%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 32px;
        justify-content: center;
    }

    

    
    .accesories_banners{
        grid-column: 1/4;
    }
    
    .title_palette_992{
        margin-top: 154px;
    }
    .browse_all_box_992{
        margin-top: 120px;
    }
    .black_long_banner{
        padding: 6.5% 0 8% 0;
    }
   .black_long_banner .benefits{
        display: flex;
        flex-direction: column;
    }
    .lower_part_of_footer{
    padding-left: 7%;
    padding-right: 7%;
    box-sizing:border-box;
    }
    .footer_boxes_992{
        left:0;
        flex-direction: column;
        align-items: center;
    }
    .subscribe_note{
        margin: 0;
    }
    .subscribe{
        margin: 0;
    }
    .subscribe_form {
        margin-top: 7%;
        margin-bottom: 34%;
    }
    .footer_banner{
        min-height: 614px;
        background-position-x: 22%;
    }
    .transparent_layer_992 {
        width: 100%;
        min-height: 614px;
    }
    .lower_part_of_footer{
        width: 100%;
        padding: .3% 3%;
    }
    .figcaption{
        max-width:53%;
    }
    .black_long_banner{
        margin-top: 0px;
        padding: 0 0 81px 0;
    }
    .icon_lower_banner_benefits_992{
        margin-top: 46px;
    }
}
@media screen and (min-width:375px) and(max-width:767px){
    .navbar_992_container{
        padding:1% 4%;
        width:90vw;
    }
    .personal_992{
        display: none;
    }
    .cart_992{
        display: none;
    }
    .accordion{
        align-self:center;
    }
    .right_part_navbar{
        align-self:center;
    }
    .img_banner_992{
        display: none;
    }
    .banner_992{
        min-height: 363px;
        margin-bottom: 64px;
    }
    .text_banner_992 .big_bold{
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .text_banner_992 .pink_mini,
    .text_banner_992 .black_mini{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .central_part_banners{
        display: grid;
        grid-template-columns: 343px;
        grid-template-rows: 246px 247px 247px 111px;
        justify-content: center;
    }
    .accesories_banners{
        grid-column: 1/2;
        overflow: hidden;
    }
    .upper_layer{
        position: absolute;
        top: 1%;
        left:29%;
        max-width:38%;
    
    }
    .cards_group_992{
        grid-template-rows: repeat(6,581px);
        grid-template-columns: repeat(1,360px);
        row-gap: 16px;
        
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 32px;
        justify-content: center;
    }
    .black_long_banner{
        margin-top: 0px;
        padding: 0 0 81px 0;
    }
    .title_palette_992{
    margin-top:38%;
    margin-bottom: 0;
    }
    .text_palette_992{
        margin-top: 0;
        margin-bottom: 64px;
    }
    .benefits{
        display: flex;
        flex-direction: column;
    }
    .icon_lower_banner_benefits_992{
        margin-top: 46px;
    }
    .footer_boxes_992{
        flex-direction: column;
    }
    figure figcaption{
        max-width:75%;
    }
    figure{
        margin-top: 54px;
    }
    .subscribe_note{
        margin-top: 59px;
    }
    .input_field{
        max-width: 57%;

    }
    .subscribe_btn{
        max-width:50%;

    }
    .footer_banner{
        align-items: center;
    }

    .lower_part_of_footer{
    flex-direction: column-reverse;
    align-items: center;
    }
    .copyrights{
        margin: 0;
    }
    .social_icon{
        margin: 40px 8px 40px 0;
    }
    .subscribe_form{
        margin:20px 50% 110px 50%;
    }

}
@media screen and (max-width:375px){
    .navbar_992_container{
        padding:1% 4%;
        width:90vw;
    }
    .personal_992{
        display: none;
    }
    .cart_992{
        display: none;
    }
    .accordion{
        align-self:center;
    }
    .right_part_navbar{
        align-self:center;
    }
    .img_banner_992{
        display: none;
    }
    .banner_992{
        min-height: 363px;
        margin-bottom: 64px;
    }
    .text_banner_992 .big_bold{
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .text_banner_992 .pink_mini,
    .text_banner_992 .black_mini{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .central_part_banners{
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: 199px 199px 199px 111px;
        justify-content: center;
    }
    .accesories_banners{
        grid-column: 1/2;
        overflow: hidden;
    }
    .upper_layer{
        position: absolute;
        top: 1%;
        left:29%;
        max-width:38%;
    
    }
    .cards_group_992{
        grid-template-rows: repeat(6,500px);
        grid-template-columns: repeat(1,280px);
        row-gap: 16px;
        
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 32px;
        justify-content: center;
    }
    .black_long_banner{
        margin-top: 0px;
        padding: 0 0 81px 0;
    }
    .title_palette_992{
    margin-top:38%;
    margin-bottom: 0;
    }
    .text_palette_992{
        margin-top: 0;
        margin-bottom: 64px;
    }
    .benefits{
        display: flex;
        flex-direction: column;
    }
    .icon_lower_banner_benefits_992{
        margin-top: 46px;
    }
    .footer_boxes_992{
        flex-direction: column;
    }
    figure figcaption{
        max-width:75%;
    }
    figure{
        margin-top: 54px;
    }
    .subscribe_note{
        margin-top: 59px;
    }
    .input_field{
        max-width: 57%;

    }
    .subscribe_btn{
        max-width:50%;

    }
    .footer_banner{
        align-items: center;
    }

    .lower_part_of_footer{
    flex-direction: column-reverse;
    align-items: center;
    }
    .copyrights{
        margin: 0;
    }
    .social_icon{
        margin: 40px 8px 40px 0;
    }
    .subscribe_form{
        margin:20px 50% 110px 50%;
    }

}


