* {
    font-family: "Lato", sans-serif;
  }
  $pinkColor: #f16d7f;

  @import"_footer.scss";
 

  @mixin textStyle( $ff, $fw, $fs){
  font-family:$ff;
  font-weight: $fw;
  font-size: $fs;
  }
  

  .Font14px{
    font-size: 14px;
  }

  .logo_inscription {
    color: #222222;
    @include textStyle( "Lato", 300, 27px);
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 13px;
    padding-right: 36px;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .pink_letter {
    color: $pinkColor;
    font-weight: 900;
  }
  
  .container_for_search {
    max-height: 38px;
  }
  
  .browse_btn {
    color: #222222;
    @extend .Font14px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.35px;
    -webkit-border-radius:3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding: 0 10px 0 9px;
  }

  
  summary,
  summary:active,
  summary:focus {
    outline: none;
  }
  
  .fa-caret-down {
    padding: 10px 5px;
  }
  
  .browse_mega-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 20px;
    position: absolute;
    z-index: +3;
    top: 69px;
  }
  
  .browse_mega-box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 60px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }
  
  .headline_link {
    color: #232323;
  }
  
  .headline_link:hover {
    color: $pinkColor;
  }

  
  .form_search {
    display: flex;
  }
  
  .search_form {
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    height: 38px;
    width: 280px;
    @extend .Font14px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-left: -5px;
  }
  
  .cart_full {
    padding: 26px;
  }

  
  .cart_full:hover .cart_box {
    display: flex;
    z-index: 3;
  }
  
  .fa {
    color: #989898;
  }
  .social_icon{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  -o-transition: -o-trasform .8s ease-in-out;
  -moz-transition: -moz-transform .8s ease-in-out;

  transition: transform .8s ease-in-out; 
}
  .social_icon:hover{
   transform:rotate(45deg);
   -ms-transform:rotate(45deg);
   -webkit-transform:rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}
  
  
  .icon_search {
    background-color: #ffffff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    height: 38px;
    width: 36px;
    box-sizing: border-box;
    margin-left: -5px;
  }
  
  .account {
    background-color: $pinkColor;
    color: #ffffff;
    @include textStyle("Lato", 400, 15px);
    line-height: 32px;
    height: 38px;
    width: 130px;
    padding-left: 19px;
    border: none;
    transition: color 0.7s;
    transition: background-color 0.7s;
    
  }
   
  .account,
  .account:active,
  .account:focus {
    outline: none;
  }
  
  .account:hover {
    background-color: #ffffff;
    color: $pinkColor;
    border: 1px solid $pinkColor;
  }
  
  .fa-caret-down-white {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .account:hover .fa-caret-down-white {
    color: $pinkColor;
  }
  
  .cart_box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -7px;
    left: 10px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }
  
  .vert_price {
    display: flex;
    flex-direction: column;
  }
  
  .cart_box {
    display: none;
    flex-direction: column;
    padding: 0 17px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-top: 16px;
    position: absolute;
    z-index: +2;
  }
  
  .good_box {
    padding: 17px 0;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
  }
  
  .img_mini_cart {
    width: 72px;
    height: 85px;
    padding-right: 15px;
  }
  
  .name_good_cart {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .price_mini_cart {
    color: $pinkColor;
    @include textStyle("Lato", 400, 12px);
    text-transform: uppercase;
  }
  
  .stars {
    width: 56px;
    height: 12px;
  }
  
  .fa-times-circle {
    width: 15px;
  }
  
  .close_circle {
    align-self: center;
  }
  .fa_times-circle:hover {
    color:$pinkColor;
  }
  
  .total {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 32px;
  }
  
  .checkout {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid $pinkColor;
    color: $pinkColor;
    @extend .Font14px;
    font-weight: 700;
    width: 225px;
    padding: 20px 0;
    text-transform: uppercase;
  }
  
  .checkout:hover {
    background-color: $pinkColor;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  
  .checkout,
  .checkout:active,
  .checkout:focus,
  .go-to-cart,
  .go-to-cart:active,
  .go-to-cart:focus {
    outline: none;
  }
  
  .go-to-cart {
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 5px;
    color: #4a4a4a;
    @extend .Font14px;
    font-weight: 700;
    width: 225px;
    padding: 20px 0;
    text-transform: uppercase;
    margin-top: 11px;
    margin-bottom: 20px;
  }
  
  .go-to-cart:hover {
    background-color: #4a4a4a;
    border: 1px solid #e8e8e8;
    color: #ffffff;
  }
  
  .header_general {
    display: flex;
    justify-content: space-between;
    min-height: 99px;
    align-items: center;
  }
  
  .left_part_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo {
    display: flex;
  }
  
  .right_part_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .icon_cart {
    height: 29px;
    width: 32px;
  }
  
  .upper_part_of_browse {
    margin: 0;
  }
  
  .nav_box {
    border-top: 1px solid #efefef;
    background-color: #ffffff;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 51px;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }
  
  .nav_element {
    color: #222222;
    @extend .Font14px;
    font-weight: 700;
    line-height: 26px;
    list-style-type: none;
    padding: 15px 30px;
    text-transform: uppercase;
    position: relative;
  }
  
  .mega-box {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 20px;
    position: absolute;
    z-index: +3;
    display: none;
  }
  
  .mega-box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 11px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }
  
  .mega_item {
    margin-right: 45px;
  }
  
  .mega_item:last-of-type {
    margin-right: 0;
  }
  
  ul {
    padding: 0;
  }
  
  .promo_picture {
    margin-top: 20px;
  }
  
  .menu_element {
    color: #222222;
  }
  
  .headline_mega-box {
    color: #232323;
    @extend .Font14px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 0;
    list-style-type: none;
  }
  
  li.list_mega-box {
    list-style-type: none;
    color: #646464;
    @extend .Font14px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .mega_link {
    color: #646464;
    display: block;
    text-transform: none;
  
  }
  
  .mega_link:hover {
    color: $pinkColor;
  }
  
  .menu_element:hover {
    color: $pinkColor;
  }
  
  .nav_element:hover .mega-box {
    display: flex;
  }
  
  .nav_element_reverse:hover .mega-box_reverse {
    display: flex;
    margin-top: 27px;
  }
  
  .nav_element_reverse:hover .mega-box::before {
    left: 800px;
  }
  
  .nav_element_reverse:hover {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .search_form,
  .search_form:active,
  .search_form:focus,
  .icon_search,
  .icon_search:active,
  .icon_search:focus {
    outline: none;
  }
  
  .upper_banner {
    position: relative;
    background: url(../img/banner_man_mainpage.png);
    background-size: contain;
    position: relative;
    height: 613px;
    background-repeat: no-repeat;
    background-color: #e8e8e8;
    background-position-x: 60%;
    margin-top: -51px;
    z-index: -1;
  }
  
  .text_vl {
    max-width: 485px;
    min-height: 92px;
    border-left: 12px solid $pinkColor;
    position: absolute;
    top: 224px;
    padding-left: 12px;
  }
  
  .big_bold,
  .black_mini {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
  }
  
  .black_mini {
    letter-spacing: 1px;
    line-height: normal;
    font-size: 40px;
  }
  
  .pink_mini {
    color: $pinkColor;
  }
  
  .flex_box_center {
    display: flex;
    flex-direction: row;
    margin-top: 98px;
  }
  
  .right_part_center {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-right: 20px;
    max-height: 823px;
  }
  
  .left_part_center {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 823px;
  }
  
  .box_center {
    position: relative;
  }
  
  .img_pad {
    margin-bottom: 20px;
  }
  
  
  .smaller_part_money {
    display: flex;
    background-color: #dadad2;
  }
  
  .money {
    margin: 0 0 21px 149px;
  }
  
  .title_palette {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.75px;
    margin-top: 100px;
    margin-bottom: 16px;
  }
  
  .text_palette {
    color: #9f9f9f;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 0 60px 0;
  }
  
  .box_for_text {
    padding: 16px 20px;
    max-height: 82px;
    position: absolute;
    background-color: #ffffff;
    top: 25px;
  }

  @mixin transition( $property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    
  }
   .for_men {
    @include transition(transform linear .5s );
   }

@mixin transform($propertyTransform) {
  transform:$propertyTransform ;
    -webkit-transform: $propertyTransform;
    -moz-transform: $propertyTransform;
    -ms-transform: $propertyTransform;
    -o-transform: $propertyTransform;
}
  .for_men:hover{
    @include transform(matrix(1.1, 0, 0, 1.1, -25, -20));
  }
  
  .smaller_part_money{
    @include transition(transform linear .5s );
  }
  .smaller_part_money:hover{
    @include transform(matrix(1.1, 0, 0, 1.1, -25, 10));
  }
  .for_kids{
    @include transition(transform linear .5s );
  }
  .for_kids:hover{
    @include transform(matrix(1.1, 0, 0, 1.1, 25,20));
  }
  .for_women{
    @include transition(transform linear .5s );
  }
  .for_women:hover{
    @include transform(matrix(1.1, 0, 0, 1.1, 25,-10));
  }





  
  .black {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }
  
  .pink {
    color: $pinkColor;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    margin: 0;
  }
  
  .browse_btn {
    display: flex;
    -webkit-box-sizing: border-box;
  }
  
  .browse_btn::-webkit-details-marker {
    display: none;
  }
  .browse_btn::-moz-details-marker {
    display: none;
  }
  .browse_btn::-ms-details-marker {
    display: none;
  }
  .browse_btn::-o-details-marker {
    display: none;
  }
  
  .goods_pallete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .good_card {
    width: 261px;
    position: relative;
  }
  
  .good_card_new_arrivals {
    width: 263px;
    position: relative;
    margin-bottom: 38px;
  }
  
  .name_good_card {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 15px;
    margin: 0;
  }
  
  .price_good_card {
    color: $pinkColor;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 20px 15px;
    margin: 0px;
  }

  .summary_new_arrivals_page::before {
    display: none;
  }
  
  .good_card {
    margin-bottom: 39px;
    width: 261px;
  }
  
  .good_card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .good_card:hover .btn_on_transparent_lay {
    display: flex;
  }
  .good_card:hover .img_good_card {
    filter: brightness(50%);
  }
  .link_good_card {
    display: block;
  }
  .img_good_card {
    width: 100%;
    height: 281px;
  }
  
  .card_btn_link {
    display: flex;
    flex-direction: row;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent;
    padding: 0 10px 0 10px;
  }
  
  .btn_on_transparent_lay {
    position: absolute;
    top: 98px;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card_btn_link:hover {
    box-shadow: 8px 5px 8px #ffffff;
  }
  
  .btn_on_transparent_lay,
  .btn_on_transparent_lay:active .btn_on_transparent_lay:focus {
    outline: none;
  }
  
  .link_name_good {
    color: #222222;
    display: block;
  }
  .link_name_good:hover {
    color: $pinkColor;
  }
  
  .small_cart {
    width: 23px;
    vertical-align: middle;
    padding-right: 8px;
  }
  
  .browse_all_box {
    margin-top: 50px;
    margin-bottom: 113px;
  }
  
  .browse_all {
    background-color: $pinkColor;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.4px;
    border: none;
    text-align: center;
    margin: 0 auto;
    width: 212px;
    border: 1px solid transparent;
    transition: background-color 0.7s;
    transition: color 0.7s;
  }
  
  .browse_all,
  .browse_all:focus,
  .browse_all:active {
    outline: none;
  }
  
  .browse_all:hover {
    background-color: #ffffff;
    color: $pinkColor;
    border: 1px solid $pinkColor;
  }
  
  .lower_banner {
    background-image: url(../img/lowerBanner.png);
    width: 100%;
    height: 529px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #232324;
    position: relative;
    margin-bottom: 97px;
  }
  
  .white_big {
    position: absolute;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 146px;
    margin-left: 39px;
    line-height: 0.8em;
  }
  
  .pink_big {
    color: $pinkColor;
    letter-spacing: 1.5px;
  }
  
  .right_part_lower_banner {
    display: flex;
    flex-direction: column;
    width: 373px;
    position: absolute;
    padding-left: 767px;
  }
  
  .plate_lower_banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .white_small {
    font-size: 32px;
    letter-spacing: 0.9px;
    line-height: 0;
  }
  
  .headline_lower_banner {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 55px;
    margin-bottom: 20px;
  }
  
  .text_paragraph_lower_banner {
    color: #fbfbfb;
    @extend .Font14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    max-width: 219px;
    margin: 0;
  }
  
  .text_lower_banner {
    margin-left: 33px;
    line-height: 0;
  }
  
  .icon_lower_banner {
    margin-bottom: 30px;
  }
  
  
  .nav_element_man {
    border-bottom: 3px solid $pinkColor;
  }
  
  /* 2 page css */
  * {
    font-family: "Lato", sans-serif;
  }
  .nav_element_man {
    padding: 11px 30px;
  }
  .breadcrumbs_area {
    background-color: #f8f3f4;
    height: 148px;
    margin-bottom: 59px;
  }
  .breadcrumbs_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .breadcrumbs_title_link {
    color: $pinkColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
  .breadcrumbs_title{
    transition:margin-left 1s;
    transition-timing-function: ease-in;
  }
 
  .breadcrumbs_title:hover{
    margin-left: 100px;
    transform: scale(2);
  }

  .breadcrumbs {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    @extend .Font14px;
  }
  .link_bred {
    color: #636363;
    font-weight: 300;
  }
  .link_bred::after {
    content: "\002F";
  }
  
  .last_part_of_breadcrumbs {
    font-weight: 700;
    color: $pinkColor;
  }
  .box_for_content {
    display: flex;
    flex-direction: row;
  }
  .summary_new_arrivals_page {
    border-bottom: 1px solid #ebebeb;
    z-index: 2;
    width: 243px;
    color: #6f6e6e;
    @extend .Font14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 12px 0 12px 12px;
    margin-bottom: 18px;
    position: relative;
  }
  .summary_new_arrivals_page::before {
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    background-color:$pinkColor;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .summary_new_arrivals_page::after {
    content: "";
    border: 6px solid transparent;
    border-top: 7.5px solid #6f6e6e;
    position: absolute;
    right: 0;
    top: 19px;
  }
  .summary_new_arrivals_page::-webkit-details-marker{
    display: none;
  }
  .fa_category {
    padding-right: 0px;
  }
  
  .boxForDetails {
    padding-left: 16px;
  }
  details[open] .summary_new_arrivals_page {
    color: $pinkColor;
  }
  details[open] .summary_new_arrivals_page::after {
    content: "";
    border: 6px solid transparent;
    border-bottom: 7.5px solid $pinkColor;
    position: absolute;
    right: 0;
    top: 11px;
  }
  
  .right_part_page {
    margin-left: 49px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
  }
  
  .upper_part_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .lower_part_filter {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .headline_section_filter {
    color: #6f6e6e;
    @extend .Font14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
  }
  
  .treding_now {
    display: flex;
    flex-direction: column;
  }
  .name_of_trends {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  .name_trend_link {
    color: #6f6e6e;
    @extend .Font14px;
    font-weight: 400;
    line-height: 0;
  }
  .name_trend_link:hover{
    color:$pinkColor;
  }
  .name_trend {
    border-right: 2px solid #6f6e6e;
    padding-left: 12px;
    padding-right: 12px;
  }
  .name_trend:last-of-type {
    border-right: none;
  }
  .name_trend:first-of-type {
    padding-left: 0px;
  }
  .checkbox_size {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .size_label {
    font-family: "Open Sans", sans-serif;
    @extend .Font14px;
    font-weight: 400;
    line-height: 20px;
    color: #6f6e6e;
    text-transform: uppercase;
    padding-right: 23px;
  }
  .size_label_non {
    padding-right: 0;
  }
  
  .bigpadding_check {
    padding-right: 39px;
  }
  .bigpadding_check_2 {
    padding-right: 24px;
  }
  
  .box_check {
    border: 1px solid #ebebeb;
    width: 13px;
    height: 13px;
    border-radius: 0;
  }
  .checkbox_box {
    display: flex;
    flex-wrap: wrap;
    max-width: 235px;
  }
  .price {
    display: flex;
    justify-content: space-between;
  }
  .price_form {
    display: flex;
    flex-direction: column;
  }
  #price {
    width: 230px;
  }
  
  .sortByshowBy {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .sortByshowBy:last-of-type {
    margin-left: 0;
  }
  .btnSortByShowBy,
  .selection {
    @extend .Font14px;
    font-weight: 400;
    color: #6f6e6e;
    line-height: 0;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 0 12px;
    max-width: 86px;
  }
  .selection,
  .selection:active,
  .selection:focus {
    outline: none;
  }
  .lower_part_filter {
    background-color: #f3f3f3;
    margin-top: 41px;
  }
  option {
    background-color: #ffffff;
  }
  
  .new_arr_transparent_lay_3btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 98px;
    width: 100%;
  }
  .good_card_new_arrivals:hover .new_arr_transparent_lay_3btn{
    display: flex;
  }
  
  .link_upper_btn {
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 7px 6px 7px 6px;
    margin-left: -9px;
  }
  
  .good_card_new_arrivals:hover .img_good_card {
    filter: brightness(50%);
  }
  .good_card_new_arrivals:hover .filter_new_arr {
    filter: brightness(50%);
  }
  
  .good_card_new_arrivals:hover .new_arr_transparent_lay_3btn {
    display: flex;
  }
  .good_card_new_arrivals:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .two_btn {
    display: flex;
    flex-direction: row;
  }
  .arrows,
  .like {
    border-radius: 3px;
    border: 1px solid #ffffff;
    width: 57px;
    height: 38px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .placeholder {
    position: relative;
  }
  .secondlay {
    position: absolute;
    top: 3px;
    left: 64px;
  }
  .red_ts {
    position: absolute;
    top: 11px;
    left: 59px;
  }
  .blue_ts {
    position: absolute;
    top: 9px;
    left: 74px;
  }
  .blackJ,
  .black_b {
    position: absolute;
    top: 0;
    left: 0;
  }
  .back_blueJ {
    background-color: #efedee;
  }
  .pagination_section {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex_pagination_section {
    display: flex;
    justify-content: space-between;
  }
  .view_all_btn {
    border-radius: 3px;
    border: 1px solid $pinkColor;
    background-color: #ffffff;
    color: $pinkColor;
    font-size: 16px;
    line-height: 0;
    padding: 21px 45px;
  }
  .view_all_btn:hover {
    border: 1px solid #ffffff;
    background-color: $pinkColor;
    color: #ffffff;
  }
  .pagination_links {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 26px;
    padding-left: 15px;
  }
  .active {
    color: $pinkColor;
  }
  .pagination_links:last-of-type {
    padding-right: 15px;
  }
  .pagination_links:hover {
    color: $pinkColor;
  }
  .black_long_banner {
    background-color: #222224;
    padding: 89px 0 114px 0;
    margin-top: 110px;
  }
  .benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .benefits_lower_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon_lower_banner_benefits {
    width: 45px;
    height: 32px;
    // align-self: center;
  }
@mixin animation-duration($anim-dur) {
  animation-duration:($anim-dur);
  -webkit-animation-duration:($anim-dur);
  -moz-animation-duration:($anim-dur);
  -o-animation-duration:($anim-dur);
}
@mixin animation-iteration-count($anim-it-count) {
  animation-iteration-count:($anim-it-count);
  -webkit-iteration-count:($anim-it-count);
  -moz-iteration-count:($anim-it-count);
  -o-iteration-count:($anim-it-count);
}
@mixin animation-delay($anim-del){
  animation-delay:($anim-del);
  -webkit-animation-delay:($anim-del);
  -moz-animation-delay:($anim-del);
  -o-animation-delay:($anim-del);
}
@mixin animation-direction($anim-dir) {
  animation-direction:($anim-dir);
  -webkit-animation-direction:($anim-dir);
  -moz-animation-direction:($anim-dir);
  -o-animation-direction:($anim-dir);
}

  .black_long_banner:hover .icon_lower_banner_benefits_car{
    animation-name:icon_lower_banner_benefits_car ;
    @include animation-duration(3s);
    @include animation-delay(0);
    @include animation-direction(alternate);
    @include animation-iteration-count(2);
  }
    @keyframes icon_lower_banner_benefits_car{
      from{
        margin-left: 0%;
        }
      to{
      margin-left: 100%;
      }
    }

    .black_long_banner:hover .icon_lower_banner_benefits_percent{
          animation-name:icon_lower_banner_benefits_percent ;
          @include animation-duration(3s);
          @include animation-delay(3s);
          @include animation-iteration-count(2);
          @include animation-direction(alternate);
        }
          @keyframes icon_lower_banner_benefits_percent{
            from{
             margin-left: 0%;
              }
            to{
              margin-left: 100%;
            }
          }

          .black_long_banner:hover .icon_lower_banner_benefits_crown{
                  animation-name:icon_lower_banner_benefits_crown ;
                  @include animation-duration(3s);
                  @include animation-delay(6s);
                  @include animation-iteration-count(2);
                  @include animation-direction(alternate);
                }
                @keyframes icon_lower_banner_benefits_crown{
                  from{
                    margin-left: 0%;
                     }
                  to{
                    margin-left: 100%;
                  }
              }
                   

  .text_benefits {
    max-width: 320px;
    text-align: center;
  }
  .benefits_headline {
    margin-top: 31px;
    margin-bottom: 17px;
    text-align: center;
  }
  
  /* page_3 */
  .carousel_block {
    min-width: 779px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .breadcrumbs_area_single_page {
    margin: 0;
  }
 
  .link_bred:hover{
    color: $pinkColor;
  }
  .change_btn {
    width: 47px;
    height: 47px;
    background-color: #cdcdcc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  } 
  .change_btn:hover{
    background-color: $pinkColor;
  }
  
  
  .good_info {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 1141px;
    margin: 0 auto;
    position: absolute;
    top: 93%;
    left: 0;
    right: 0;
  }
  .upper_part_good_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .material_designer_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .collection_pink {
    color: $pinkColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 73px;
    padding-bottom: 14px;
  }
  .collection_pink:hover{
    font-size: 24px;
  }
  .line_good_info {
    border-top: 1px solid #eaeaea;
    width: 147px;
    position: relative;
  }
  .line_good_info::before {
    content: "";
    display: block;
    background-color:$pinkColor;
    width: 63px;
    height: 3px;
    position: absolute;
    left: 42px;
    top: -2px;
  }
  .collection_black {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 24px;
  }
  .collection_black:hover {
    color: $pinkColor;
  }
  
  .text_good-info {
    color: #5e5e5e;
    @extend .Font14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    width: 618px;
    padding-top: 26px;
    padding-bottom: 28px;
  }
  
  .title_material_designer {
    color: #b9b9b9;
    @extend .Font14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  .dark_material_designer {
    color: #2f2f2f;
  }
  .dark_material_designer:first-of-type {
    padding-right: 44px;
  }
  .price_good_info {
    color:$pinkColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 43px;
  }
  .lower_part_good_info {
    width: 642px;
    border-top: 1px solid #eaeaea;
    margin: 0 auto;
  }
  .choose_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .quantity_choose_box {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15px;
    box-sizing:border-box;
  }
  
  .title_choose {
    color: #2f2f2f;
    @extend .Font14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  
  .quantity_title {
    padding-bottom: 11px;
  }
  
  .option_choose {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    width: 144px;
    height: 35px;
    outline: none;
    box-sizing:border-box;
  }
  
  .gg-chevron-down{
  left: 0px;
  top: 5px;
  font-size: 25px;
  }
  .list_colors{
    list-style-type: none;
  }
  .color_choose{
    padding-left: 25%;
    box-sizing: border-box;
  }
  .color_choose::before {
    content: "";
    display: block;
    background-color:$pinkColor;
    width: 12px;
    height: 12px;
    position: absolute;
    left:12px;
    top:12px;
  } 
  .choose_color_form_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
    position: relative;
  }
  .color{
    padding-left: 36px;
  }
  .color_list_item{
    padding: 5px 0;
  }
  .quantity_form {
    padding: 0 0 0 15px;
  }
  .btn_box {
    display: flex;
    justify-content: center;
    color:$pinkColor;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $pinkColor;
    background-color: #ffffff;
    margin-top: 28px;
    margin-bottom: 128px;
  }
  .box_colors,
  .size_list_box{
    border: 1px solid #eaeaea;
    z-index: 2;
    background-color:#ffffff;
    position: absolute;
    top: 36px;
    left:-1px;
    width: 100%;
  }
  .choose_text_form{
    padding: 5px 0 5px 36px;
  
  }
  .color_blue::before{
    content: "";
      display: block;
      background-color: blue;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 12px;
      top: 20px;
  }
  .color_green::before{
    content: "";
      display: block;
      background-color: green;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 12px;
      top: 43px;
  }
  .color_orange::before{
    content: "";
      display: block;
      background-color: orange;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 12px;
      top: 68px;
  }
  .color_black::before{
    content: "";
      display: block;
      background-color: black;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 12px;
      top: 90px;
  }
  .size_list{
  list-style-type: none;
  }
  .size_flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width:100%;
      padding-left: 25%;
      box-sizing: border-box;
  }
  .size{
    padding-left: 36px;
  
  }
  .size_link{
    color:#bcbcbc;
  }
  .size_link:hover{
    color:$pinkColor;
  }
  input::-webkit-input-placeholder {
     color:#bcbcbc ;
    }
  .color:hover{
    color:$pinkColor;
  }
  .cart_btn_box {
    padding: 0 20px;
    align-self: center;
    transition: transform ease-in .8s;
  }
  .btn_box:hover .cart_btn_box{
    transform: translateX(26px);
  }
  .btn_box:hover {
    background-color:$pinkColor;
    color: #ffffff;
  }
  .btn_box:hover .cart_btn_box {
    fill: #ffffff;
  }


  .title_like_also {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 930px;
    text-align: center;
    margin-bottom: 72px;
  }
  
  
  .good_card_like {
    width: 261px;
  }
  .box_for_effect_like {
    width: 100%;
  }
  .blaze{
    position: absolute;
    top:5px;
    left: 82px;
  }
  .alexa{
    position: absolute;
    top:-12px;
    left:75px;
  }
  .agnes{
    position: absolute;
    top:7px;
    left:92px;
  }
  .sylva{
    width:100%;
    height: 280px;
  }
  
  .box_like_also_collection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .price_stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .stars_on_card{
    width: 71px;
    height: 14px;
    padding-right: 14px;
    display: none;
  }
  .good_card_new_arrivals:hover .stars_on_card{
    display:block;
  
  }
  
  .stars_on_good_info{
    width:88px;
    height: 17px;
  }
  .stars_center{
    height: 100%;
    width:100%
  }
  .link_upper_btn:hover{
    transform: scale(1.25);
  }
  .arrows:hover{
    transform: scale(1.25);
  }
  .like:hover{
    transform: scale(1.25);
  }
  
  /* 4 page */
  .name_section_checkout{
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 0;
  }
  .details_width{
    width:100%;
  }
  .flex_for_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
  }
  .name_section_checkout_box{
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3%;
    padding-top: 1%;
  }
  .guest_or_register{
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  }
  .clue_register{
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-top: 16px;
  }
  .guest_label,
  .register_label{
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  }
  .red_asterisk{
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
  }
  .red_letters_checkout{
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  margin-top: 16px;
  }
  .text_for_form_checkout{
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 16px;
  }
  .text_for_form_checkout:last-of-type{
    padding-top: 23px;
  }
  .black_letters_checkout{
  color: #222222;
  @extend .Font14px;
  font-weight: 400;
  margin-left: 32px;
  }
  .flex_right_part_btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
      align-items: baseline;
  }
  .form_boxes_checkout{
    display: flex;
    flex-direction: column-reverse;
  }
  .radio_box{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  .input_label_radio:first-of-type{
    padding-bottom: 20px;
  }
  .clues_box{
    padding-top: 20px;
  }
  .checkout_btn{
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 35px;
  width: 180px;
  display: flex;
  justify-content: center;
  }
  .checkout_btn:hover{
    color:#ffffff;
    background-color:#4a4a4a;
  }
  .border_form_checkout{
    border: 1px solid #eaeaea;
  background-color: #ffffff;
  width:390px;
  height: 45px;
  outline: none;
  padding-left: 20px;
  }
  sup{
    top: -0.005em;
  }
  details[open] .name_section_checkout_box{
    border-bottom:none;
  }
  
  details[open] .flex_for_details{
    padding-bottom: 79px;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 0;
  }
  details:last-of-type{
    margin-bottom: 93px;
  }
  .name_section_checkout_box:hover {
    color:$pinkColor;
  
  }
  /* 5 page */
  .shopping_cart_flex_main{
    display: flex;
    flex-direction: column;
  }
  .product_details_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding-top: 77px;
    padding-bottom: 7px;
    
  }
  .left_part_product_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
  }
  .good_horizontal_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea;
  
  }
  .right_part_good_horizontal_main{
    display: flex;
    flex-direction: row;
  }
  .right_part_good_horizontal_main:hover{
    transform: scale(1.3);
  }
  .left_part_good_horizontal_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:58%;
    align-items: center;
  
  }
  .text_shopping_cart_table{
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  }
  .name_good_sh_c{
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .pic_right_part{
  padding-right: 20px;
  }
  .black_bold{
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    
  }
  .gray_thick{
    font-weight: 300;
    color: #575757;
  }
  .right_part_good_horizontal_main:hover .name_good_sh_c
  {
    color: $pinkColor;
  }
  .right_part_good_horizontal_main:hover .black_bold{
    color:$pinkColor;
  }
  .quantity_form_checkout{
    width:54px;
    height: 30px;
    text-align: center;
    border: 1px solid #eaeaea;
    padding:0;
    outline: none;
  }
  .info_left_part_{
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  }
  .info_left_part_ i{
    font-size: 16px;
    padding-right: 0px;
  }
  .info_left_part_:hover{
    color:$pinkColor;
    transform: scale(1.5);
    padding-right: 1px;
  }
  
  .buttons_horizontal_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
    
  }
  .btns_horizontal_block{
  color: #4a4a4a;
  @extend .Font14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 18px 38px;
  }
  .btns_horizontal_block:hover{
    color:#ffffff;
    background-color:#4a4a4a;
  }
  .checkout_lower_container_forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 63px;
    margin-bottom: 79px;
  }
  .shipping_adress{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width:20%;
  box-sizing:border-box;
  
  }
  .title_checkout_lower_container_forms{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  .form_checkout_lower_part{
  width:355px;
  height:45px;
  outline: none;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 20px;
  padding-left: 18px;
  font-size: 13px;
  box-sizing:border-box;
  }
  .form_checkout_lower_part:first-of-type{
    margin-top: 8px;
  }
  input::-webkit-calendar-picker-indicator {
    color: #bdbdbd;
    opacity:1;
  }
  .small_btn_checkout{
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 25px;
  width:25%;
  text-align: center;
  }
  .small_btn_checkout:hover{
    color: #ffffff;
    background-color: #4a4a4a;
  }
  .coupon_discount{
    flex-grow: 1;
    width:20%;
    box-sizing:border-box;
  }
  .enter_clue{
  color: #000000;
  @extend .Font14px;
  font-weight: 300;
  margin-top: 28px;
  }
  .grand_total{
    display: flex;
    flex-direction: column;
    width:20%;
    background-color: #f5f3f3;
    flex-grow: 1;
    padding:40px;
    box-sizing:border-box;
    height: 214px;
  }
  .text_line_total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
  }
  .text_line_total:last-of-type{
    margin-top: 14px;
  
  }
  .pink_total{
    color: $pinkColor;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
    margin-top: 0;
    
  }
  .sub_title{
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin:0;
  padding-left: 20px;
  }
  .text_total{
  border-bottom: 1px solid  #e2e2e2;;
  }
  .total_btn{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $pinkColor;
  text-align: center;
  padding: 19px 0;
  margin-top: 20px;
  }
  .total_btn:hover{
    background-color:#ffffff; 
    border:1px solid $pinkColor;
  }
  .link_small_cart{
  display: flex;
  }
  .fa-times-circle:hover{
    color: $pinkColor;
    transform: scale(1.5);
  }
  .link_display{
    display: block;
  }
  .link_color_total{
  color:#ffffff;
  }
  .total_btn:hover .link_color_total{
    color:$pinkColor;
  }
  .flex_for_slide{
    display: flex;
    flex-direction: row;
  
    
  
  }
  .slide_place_recall{
    display: flex;
    width:38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
    margin-top: 47px;
  }
  .slide_place_recall:hover{
    background-color: $pinkColor;
  }
  .link_flex{
    display:flex;
  }
  @import"_index_992.scss";
  