* {
  font-family: "Lato", sans-serif;
}

.logo_inscription {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-right: 36px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.pink_letter {
  color: #f16d7f;
  font-weight: 900;
}

.container_for_search {
  max-height: 38px;
}

.browse_btn {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.35px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  padding: 0 10px 0 9px;
}

summary,
summary:active,
summary:focus {
  outline: none;
}

.fa-caret-down {
  padding: 10px 5px;
}

.browse_mega-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: +3;
  top: 69px;
}

.browse_mega-box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: -7px;
  left: 60px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.headline_link {
  color: #232323;
}

.headline_link:hover {
  color: #f16d7f;
}

.browse_btn:hover .browse_mega-box {
  display: flex;
}

.form_search {
  display: flex;
}

.search_form {
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 280px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding-left: 16px;
  box-sizing: border-box;
  margin-left: -5px;
}

.cart_full {
  padding: 26px;
}

.cart_full:hover .cart_box {
  display: flex;
}

.fa {
  color: #989898;
}

.icon_search {
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 36px;
  box-sizing: border-box;
  margin-left: -5px;
}

.account {
  background-color: #f16d7f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  height: 38px;
  width: 130px;
  padding-left: 19px;
  border: none;
}

.account,
.account:active,
.account:focus {
  outline: none;
}

.account:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.fa-caret-down-white {
  color: #ffffff;
  padding-left: 8px;
}

.account:hover .fa-caret-down-white {
  color: #f16d7f;
}

.cart_box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 10px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.vert_price {
  display: flex;
  flex-direction: column;
}

.cart_box {
  display: none;
  flex-direction: column;
  padding: 0 17px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 16px;
  position: absolute;
  z-index: +2;
}

.good_box {
  padding: 17px 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.img_mini_cart {
  width: 72px;
  height: 85px;
  padding-right: 15px;
}

.name_good_cart {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.price_mini_cart {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.stars {
  width: 56px;
  height: 12px;
}

.fa-times-circle {
  width: 15px;
}

.close_circle {
  align-self: center;
}
.fa_times-circle:hover {
  color:#f16d7f;
}

.total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 32px;
}

.checkout {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  width: 225px;
  padding: 20px 0;
  text-transform: uppercase;
}

.checkout:hover {
  background-color: #f16d7f;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.checkout,
.checkout:active,
.checkout:focus,
.go-to-cart,
.go-to-cart:active,
.go-to-cart:focus {
  outline: none;
}

.go-to-cart {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  border-radius: 5px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  width: 225px;
  padding: 20px 0;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 20px;
}

.go-to-cart:hover {
  background-color: #4a4a4a;
  border: 1px solid #e8e8e8;
  color: #ffffff;
}

.header_general {
  display: flex;
  justify-content: space-between;
  min-height: 99px;
  align-items: center;
}

.left_part_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: flex;
}

.right_part_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon_cart {
  height: 29px;
  width: 32px;
}

.upper_part_of_browse {
  margin: 0;
}

.nav_box {
  border-top: 1px solid #efefef;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 51px;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.nav_element {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  list-style-type: none;
  padding: 15px 30px;
  text-transform: uppercase;
  position: relative;
}

.mega-box {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: +3;
  display: none;
}

.mega-box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: -7px;
  left: 11px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.mega_item {
  margin-right: 45px;
}

.mega_item:last-of-type {
  margin-right: 0;
}

ul {
  padding: 0;
}

.promo_picture {
  margin-top: 20px;
}

.menu_element {
  color: #222222;
}

.headline_mega-box {
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 0;
  list-style-type: none;
}

li.list_mega-box {
  list-style-type: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.mega_link {
  color: #646464;
  display: block;
  text-transform: none;

}

.mega_link:hover {
  color: #f16d7f;
}

.menu_element:hover {
  color: #f16d7f;
}

.nav_element:hover .mega-box {
  display: flex;
}

.nav_element_reverse:hover .mega-box_reverse {
  display: flex;
  margin-top: 27px;
}

.nav_element_reverse:hover .mega-box::before {
  left: 800px;
}

.nav_element_reverse:hover {
  display: flex;
  flex-direction: row-reverse;
}

.search_form,
.search_form:active,
.search_form:focus,
.icon_search,
.icon_search:active,
.icon_search:focus {
  outline: none;
}

.upper_banner {
  position: relative;
  background: url(../img/banner_man_mainpage.png);
  background-size: contain;
  position: relative;
  height: 613px;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
  background-position-x: 60%;
  margin-top: -51px;
  z-index: -1;
}

.text_vl {
  max-width: 485px;
  min-height: 92px;
  border-left: 12px solid #f16d7f;
  position: absolute;
  top: 224px;
  padding-left: 12px;
}

.big_bold,
.black_mini {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
}

.black_mini {
  letter-spacing: 1px;
  line-height: normal;
  font-size: 40px;
}

.pink_mini {
  color: #f16d7f;
}

.flex_box_center {
  display: flex;
  flex-direction: row;
  margin-top: 98px;
}

.right_part_center {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-right: 20px;
  max-height: 823px;
}

.left_part_center {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  max-height: 823px;
}

.box_center {
  position: relative;
}

.img_pad {
  margin-bottom: 20px;
}


.smaller_part_money {
  display: flex;
  background-color: #dadad2;
}

.money {
  margin: 0 0 21px 149px;
}

.title_palette {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.75px;
  margin-top: 100px;
  margin-bottom: 16px;
}

.text_palette {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0 0 60px 0;
}

.box_for_text {
  padding: 16px 20px;
  max-height: 82px;
  position: absolute;
  background-color: #ffffff;
  top: 25px;
}

.black {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.pink {
  color: #f16d7f;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: normal;
  margin: 0;
}

.browse_btn {
  display: flex;
}

.browse_btn::-webkit-details-marker {
  display: none;
}

.goods_pallete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.good_card {
  width: 261px;
  position: relative;
}

.good_card_new_arrivals {
  width: 263px;
  position: relative;
  margin-bottom: 38px;
}

.name_good_card {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 15px;
  margin: 0;
}

.price_good_card {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 20px 15px;
  margin: 0px;
}

.good_card {
  margin-bottom: 39px;
  width: 261px;
}

.good_card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.good_card:hover .btn_on_transparent_lay {
  display: flex;
}
.good_card:hover .img_good_card {
  filter: brightness(50%);
}
.link_good_card {
  display: block;
}
.img_good_card {
  width: 100%;
  height: 281px;
}

.card_btn_link {
  display: flex;
  flex-direction: row;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  background-color: transparent;
  padding: 0 10px 0 10px;
}

.btn_on_transparent_lay {
  position: absolute;
  top: 98px;
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.card_btn_link:hover {
  box-shadow: 8px 5px 8px #ffffff;
}

.btn_on_transparent_lay,
.btn_on_transparent_lay:active .btn_on_transparent_lay:focus {
  outline: none;
}

.link_name_good {
  color: #222222;
  display: block;
}
.link_name_good:hover {
  color: #f16d7f;
}

.small_cart {
  width: 23px;
  vertical-align: middle;
  padding-right: 8px;
}

.browse_all_box {
  margin-top: 50px;
  margin-bottom: 113px;
}

.browse_all {
  background-color: #f16d7f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.4px;
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 212px;
}

.browse_all,
.browse_all:focus,
.browse_all:active {
  outline: none;
}

.browse_all:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.lower_banner {
  background-image: url(../img/lowerBanner.png);
  width: 100%;
  height: 529px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #232324;
  position: relative;
  margin-bottom: 97px;
}

.white_big {
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 146px;
  margin-left: 39px;
  line-height: 0.8em;
}

.pink_big {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.right_part_lower_banner {
  display: flex;
  flex-direction: column;
  width: 373px;
  position: absolute;
  padding-left: 767px;
}

.plate_lower_banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.white_small {
  font-size: 32px;
  letter-spacing: 0.9px;
  line-height: 0;
}

.headline_lower_banner {
  color: #fbfbfb;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 55px;
  margin-bottom: 20px;
}

.text_paragraph_lower_banner {
  color: #fbfbfb;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  max-width: 219px;
  margin: 0;
}

.text_lower_banner {
  margin-left: 33px;
  line-height: 0;
}

.icon_lower_banner {
  margin-bottom: 30px;
}

.long_banner {
  position: relative;
}

.fade {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.first_part_of_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 438px;
}

.picture_footer {
  background-image: url(../img/img_footer.png);
  width: 100%;
  height: 438px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.transparent_lay_for_footer {
  background-color: #f2f2f2;
  position: absolute;
  opacity: 0.5;
  top: 0;
  width: 100%;
  height: 438px;
}

.photo_recall {
  border-radius: 100%;
  width: 83px;
  height: 83px;
  margin-top: 111px;
}

.block_text {
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
  width: 386px;
  margin-top: 123px;
}

.name_quote {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 15px;
  margin: 0;
}

.place_recall {
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.subscribe_note {
  text-align: center;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 0.6px;
  margin: 148px 0 0 0;
}

.smaller_note {
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 0;
  letter-spacing: 0.35px;
  line-height: 4px;
  margin: 0;
}

.quote {
  display: flex;
  justify-content: space-between;
  padding-right: 75px;
  border-right: 1px solid #ffffff;
}

.text_quote {
  margin-left: 28px;
}

.input_field {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border-style: none;
  padding-left: 28px;
  opacity: 0.67;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 92px;
}
.subscribe_btn {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  height: 48px;
  color: #ffffff;
  padding: 0 20px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin-left: -4px;
  text-align: center;
  letter-spacing: 0.35px;
}

.subscribe_form {
  margin-top: 35px;
}

.subscribe_btn,
.subscribe_btn:active,
.subscribe_btn:focus,
.input_field,
.input_field:focus .input_field:active {
  outline: none;
}

.middle_part_of_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 102px;
}

.logo_two_paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 427px;
}

.paragraph_footer {
  margin-top: 14px;
  color: #898989;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.info_footer {
  list-style-type: none;
}

.headline_footer {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.links_footer {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 59px;
  line-height: 42px;
}

.links_footer:hover {
  color: #f16d7f;
}

.lower_part_of_footer {
  display: flex;
  justify-content: space-between;
}

.social_media {
  display: flex;
}

.social_icon {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin: 24px 8px 24px 0;
}

.social_icon:last-of-type {
  margin-right: 0;
}

.copyrights {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.background_footer {
  background-color: #e6e6e6;
  margin-top: 74px;
}

.fa-social {
  text-align: center;
  padding: 8px;
}

.social_icon:hover {
  background-color: #f16d7f;
}

.social_icon:hover .fa-social {
  color: #ffffff;
}

.shade_effect {
  background-image: none;
  width: 767px;
  height: 529px;
}

.shade_effect:hover {
  background-image: url(../img/lower_banner_effect.png);
}
.nav_element_man {
  border-bottom: 3px solid #f16d7f;
}

/* 2 page css */
* {
  font-family: "Lato", sans-serif;
}
.nav_element_man {
  padding: 11px 30px;
}
.breadcrumbs_area {
  background-color: #f8f3f4;
  height: 148px;
  margin-bottom: 59px;
}
.breadcrumbs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.breadcrumbs_title_link {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
}
.link_bred {
  color: #636363;
  font-weight: 300;
}
.link_bred::after {
  content: "\002F";
}

.last_part_of_breadcrumbs {
  font-weight: 700;
  color: #f16d7f;
}
.box_for_content {
  display: flex;
  flex-direction: row;
}
.summary_new_arrivals_page {
  border-bottom: 1px solid #ebebeb;
  z-index: 2;
  width: 243px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 0 12px 12px;
  margin-bottom: 18px;
  position: relative;
}
.summary_new_arrivals_page::before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  background-color: #f16d7f;
  position: absolute;
  left: 0;
  top: 10px;
}
.summary_new_arrivals_page::after {
  content: "";
  border: 6px solid transparent;
  border-top: 7.5px solid #6f6e6e;
  position: absolute;
  right: 0;
  top: 19px;
}
.fa_category {
  padding-right: 0px;
}

.boxForDetails {
  padding-left: 16px;
}
details[open] .summary_new_arrivals_page {
  color: #ef5b70;
}
details[open] .summary_new_arrivals_page::after {
  content: "";
  border: 6px solid transparent;
  border-bottom: 7.5px solid #ef5b70;
  position: absolute;
  right: 0;
  top: 11px;
}

.right_part_page {
  margin-left: 49px;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 49px;
}

.upper_part_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lower_part_filter {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.headline_section_filter {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}

.treding_now {
  display: flex;
  flex-direction: column;
}
.name_of_trends {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.name_trend_link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}
.name_trend_link:hover{
  color:#ef5b70;
}
.name_trend {
  border-right: 2px solid #6f6e6e;
  padding-left: 12px;
  padding-right: 12px;
}
.name_trend:last-of-type {
  border-right: none;
}
.name_trend:first-of-type {
  padding-left: 0px;
}
.checkbox_size {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.size_label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6f6e6e;
  text-transform: uppercase;
  padding-right: 23px;
}
.size_label_non {
  padding-right: 0;
}

.bigpadding_check {
  padding-right: 39px;
}
.bigpadding_check_2 {
  padding-right: 24px;
}

.box_check {
  border: 1px solid #ebebeb;
  width: 13px;
  height: 13px;
  border-radius: 0;
}
.checkbox_box {
  display: flex;
  flex-wrap: wrap;
  max-width: 235px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.price_form {
  display: flex;
  flex-direction: column;
}
#price {
  width: 230px;
}

.sortByshowBy {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sortByshowBy:last-of-type {
  margin-left: 0;
}
.btnSortByShowBy,
.selection {
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  line-height: 0;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 0 12px;
  max-width: 86px;
}
.selection,
.selection:active,
.selection:focus {
  outline: none;
}
.lower_part_filter {
  background-color: #f3f3f3;
  margin-top: 41px;
}
option {
  background-color: #ffffff;
}

.new_arr_transparent_lay_3btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 98px;
  width: 100%;
}
.good_card_new_arrivals:hover .new_arr_transparent_lay_3btn{
  display: flex;
}

.link_upper_btn {
  color: #ffffff;
  border-radius: 3px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 7px 6px 7px 6px;
  margin-left: -9px;
}

.good_card_new_arrivals:hover .img_good_card {
  filter: brightness(50%);
}
.good_card_new_arrivals:hover .filter_new_arr {
  filter: brightness(50%);
}

.good_card_new_arrivals:hover .new_arr_transparent_lay_3btn {
  display: flex;
}
.good_card_new_arrivals:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.two_btn {
  display: flex;
  flex-direction: row;
}
.arrows,
.like {
  border-radius: 3px;
  border: 1px solid #ffffff;
  width: 57px;
  height: 38px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  position: relative;
}
.secondlay {
  position: absolute;
  top: 3px;
  left: 64px;
}
.red_ts {
  position: absolute;
  top: 11px;
  left: 59px;
}
.blue_ts {
  position: absolute;
  top: 9px;
  left: 74px;
}
.blackJ,
.black_b {
  position: absolute;
  top: 0;
  left: 0;
}
.back_blueJ {
  background-color: #efedee;
}
.pagination_section {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_pagination_section {
  display: flex;
  justify-content: space-between;
}
.view_all_btn {
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  line-height: 0;
  padding: 21px 45px;
}
.view_all_btn:hover {
  border: 1px solid #ffffff;
  background-color: #ef5b70;
  color: #ffffff;
}
.pagination_links {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 26px;
  padding-left: 15px;
}
.active {
  color: #ef5b70;
}
.pagination_links:last-of-type {
  padding-right: 15px;
}
.pagination_links:hover {
  color: #ef5b70;
}
.black_long_banner {
  background-color: #222224;
  padding: 89px 0 114px 0;
  margin-top: 110px;
}
.benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.benefits_lower_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon_lower_banner_benefits {
  width: 45px;
  height: 32px;
  align-self: center;
}
.text_benefits {
  max-width: 320px;
  text-align: center;
}
.benefits_headline {
  margin-top: 31px;
  margin-bottom: 17px;
  text-align: center;
}

/* page_3 */
.carousel_block {
  min-width: 779px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.breadcrumbs_area_single_page {
  margin: 0;
}
.breadcrumbs_title_link:hover{
font-size: 30px;

}
.link_bred:hover{
  color:  #f16d7f;
}
.change_btn {
  width: 47px;
  height: 47px;
  background-color: #cdcdcc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
} 
.change_btn:hover{
  background-color: #f16d7f;
}


.good_info {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 1141px;
  margin: 0 auto;
  position: absolute;
  top: 1027px;
  left: 382px;
}
.upper_part_good_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material_designer_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection_pink {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 73px;
  padding-bottom: 14px;
}
.collection_pink:hover{
  font-size: 24px;
}
.line_good_info {
  border-top: 1px solid #eaeaea;
  width: 147px;
  position: relative;
}
.line_good_info::before {
  content: "";
  display: block;
  background-color: #ef5b70;
  width: 63px;
  height: 3px;
  position: absolute;
  left: 42px;
  top: -2px;
}
.collection_black {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 24px;
}
.collection_black:hover {
  color: #ef5b70;
}

.text_good-info {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  width: 618px;
  padding-top: 26px;
  padding-bottom: 28px;
}

.title_material_designer {
  color: #b9b9b9;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.dark_material_designer {
  color: #2f2f2f;
}
.dark_material_designer:first-of-type {
  padding-right: 44px;
}
.price_good_info {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 43px;
}
.lower_part_good_info {
  width: 642px;
  border-top: 1px solid #eaeaea;
  margin: 0 auto;
}
.choose_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.quantity_choose_box {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 15px;
}

.title_choose {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.quantity_title {
  padding-bottom: 11px;
}

.option_choose {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 144px;
  height: 35px;
  outline: none;
}

.gg-chevron-down{
left: 0px;
top: 5px;
font-size: 25px;
}
.list_colors{
  list-style-type: none;
}
.color_choose::before {
  content: "";
  display: block;
  background-color: #ef5b70;
  width: 12px;
  height: 12px;
  position: absolute;
  left:12px;
  top:12px;
} 
.choose_color_form_btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width:100%;
  position: relative;
}
.color{
  padding-left: 36px;
}
.color_list_item{
  padding: 5px 0;
}
.quantity_form {
  padding: 0 0 0 15px;
}
.btn_box {
  display: flex;
  justify-content: center;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin-top: 28px;
  margin-bottom: 128px;
}
.box_colors,
.size_list_box{
  border: 1px solid #eaeaea;
  z-index: 2;
  background-color:#ffffff;
  position: absolute;
  top: 36px;
  left:-1px;
  width: 100%;
}
.choose_text_form{
  padding: 5px 0 5px 36px;

}
.color_blue::before{
  content: "";
    display: block;
    background-color: blue;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 12px;
    top: 20px;
}
.color_green::before{
  content: "";
    display: block;
    background-color: green;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 12px;
    top: 43px;
}
.color_orange::before{
  content: "";
    display: block;
    background-color: orange;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 12px;
    top: 68px;
}
.color_black::before{
  content: "";
    display: block;
    background-color: black;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 12px;
    top: 90px;
}
.size_list{
list-style-type: none;
}
.size_flex{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
}
.size{
  padding-left: 36px;

}
.size_link{
  color:#bcbcbc;
}
.size_link:hover{
  color:#f16d7f;
}
input::-webkit-input-placeholder {
   color:#bcbcbc ;
  }
.color:hover{
  color:#f16d7f;
}
.cart_btn_box {
  margin-right: 10px;
  align-self: center;
}
.btn_box:hover {
  background-color: #ef5b70;
  color: #ffffff;
}
.btn_box:hover .cart_btn_box {
  fill: #ffffff;
}
.title_like_also {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 805px;
  text-align: center;
  margin-bottom: 72px;
}


.good_card_like {
  width: 261px;
}
.box_for_effect_like {
  width: 100%;
}
.blaze{
  position: absolute;
  top:5px;
  left: 82px;
}
.alexa{
  position: absolute;
  top:-12px;
  left:75px;
}
.agnes{
  position: absolute;
  top:7px;
  left:92px;
}
.sylva{
  width:100%;
  height: 280px;
}

.box_like_also_collection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price_stars{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.stars_on_card{
  width: 71px;
  height: 14px;
  padding-right: 14px;
  display: none;
}
.good_card_new_arrivals:hover .stars_on_card{
  display:block;

}

.stars_on_good_info{
  width:88px;
  height: 17px;
}
.stars_center{
  height: 100%;
  width:100%
}
.link_upper_btn:hover{
  transform: scale(1.25);
}
.arrows:hover{
  transform: scale(1.25);
}
.like:hover{
  transform: scale(1.25);
}

/* 4 page */
.name_section_checkout{
color: #222222;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
margin: 27px 0;
}
.details_width{
  width:100%;
}
.flex_for_details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px;
}
.name_section_checkout_box{
  border-bottom: 1px solid  #e8e8e8;
  width: 100%
}
.guest_or_register{
color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
}
.clue_register{
color: #b3b2b2;
font-size: 13px;
font-weight: 400;
margin-top: 16px;
}
.guest_label,
.register_label{
color: #222222;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
}
.red_asterisk{
color: #ff0d0d;
font-size: 17px;
font-weight: 400;
}
.red_letters_checkout{
color: #ff0d0d;
font-size: 13px;
font-weight: 400;
margin-top: 16px;
}
.text_for_form_checkout{
color: #222222;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
padding-bottom: 16px;
}
.text_for_form_checkout:last-of-type{
  padding-top: 23px;
}
.black_letters_checkout{
color: #222222;
font-size: 14px;
font-weight: 400;
margin-left: 32px;
}
.flex_right_part_btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    align-items: baseline;
}
.form_boxes_checkout{
  display: flex;
  flex-direction: column-reverse;
}
.radio_box{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.input_label_radio:first-of-type{
  padding-bottom: 20px;
}
.clues_box{
  padding-top: 20px;
}
.checkout_btn{
color: #4a4a4a;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
border: 1px solid #eaeaea;
background-color: #ffffff;
margin-top: 35px;
width: 180px;
display: flex;
justify-content: center;
}
.checkout_btn:hover{
  color:#ffffff;
  background-color:#4a4a4a;
}
.border_form_checkout{
  border: 1px solid #eaeaea;
background-color: #ffffff;
width:390px;
height: 45px;
outline: none;
padding-left: 20px;
}
sup{
  top: -0.005em;
}
details[open] .name_section_checkout_box{
  border-bottom:none;
}

details[open] .flex_for_details{
  padding-bottom: 79px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 0;
}
details:last-of-type{
  margin-bottom: 93px;
}
.name_section_checkout_box:hover .name_section_checkout{
  color:#ef5b70;

}
/* 5 page */
.shopping_cart_flex_main{
  display: flex;
  flex-direction: column;
}
.product_details_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-top: 77px;
  padding-bottom: 7px;
  
}
.left_part_product_details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:60%;
}
.good_horizontal_main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;

}
.right_part_good_horizontal_main{
  display: flex;
  flex-direction: row;
}
.right_part_good_horizontal_main:hover{
  transform: scale(1.3);
}
.left_part_good_horizontal_main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:58%;
  align-items: center;

}
.text_shopping_cart_table{
color: #222222;
font-size: 13px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
letter-spacing: -0.2px;
}
.name_good_sh_c{
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.pic_right_part{
padding-right: 20px;
}
.black_bold{
  color: #6f6e6e;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  
}
.gray_thick{
  font-weight: 300;
  color: #575757;
}
.right_part_good_horizontal_main:hover .name_good_sh_c
{
  color: #f16d7f;
}
.right_part_good_horizontal_main:hover .black_bold{
  color: #f16d7f;
}
.quantity_form_checkout{
  width:54px;
  height: 30px;
  text-align: center;
  border: 1px solid #eaeaea;
  padding:0;
  outline: none;
}
.info_left_part_{
color: #656565;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
}
.info_left_part_ i{
  font-size: 16px;
  padding-right: 20px;
}
.info_left_part_:hover{
  color:#f16d7f;
  transform: scale(1.5);
}
.buttons_horizontal_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;
  
}
.btns_horizontal_block{
color: #4a4a4a;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
border: 1px solid #eaeaea;
background-color: #ffffff;
padding: 18px 38px;
}
.btns_horizontal_block:hover{
  color:#ffffff;
  background-color:#4a4a4a;
}
.checkout_lower_container_forms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 63px;
  margin-bottom: 79px;
}
.shipping_adress{
display: flex;
flex-direction: column;
flex-grow: 1;
width:20%;
box-sizing:border-box;

}
.title_checkout_lower_container_forms{
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
.form_checkout_lower_part{
width:355px;
height:45px;
outline: none;
border: 1px solid #eaeaea;
background-color: #ffffff;
margin-top: 20px;
padding-left: 18px;
font-size: 13px;
box-sizing:border-box;
}
.form_checkout_lower_part:first-of-type{
  margin-top: 8px;
}
input::-webkit-calendar-picker-indicator {
  color: #bdbdbd;
  opacity:1;
}
.small_btn_checkout{
color: #4a4a4a;
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
padding: 12px 16px;
border: 1px solid #eaeaea;
background-color: #ffffff;
margin-top: 25px;
width:25%;
text-align: center;
}
.small_btn_checkout:hover{
  color: #ffffff;
  background-color: #4a4a4a;
}
.coupon_discount{
  flex-grow: 1;
  width:20%;
  box-sizing:border-box;
}
.enter_clue{
color: #000000;
font-size: 14px;
font-weight: 300;
margin-top: 28px;
}
.grand_total{
  display: flex;
  flex-direction: column;
  width:20%;
  background-color: #f5f3f3;
  flex-grow: 1;
  padding:40px;
  box-sizing:border-box;
  height: 214px;
}
.text_line_total{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
}
.text_line_total:last-of-type{
  margin-top: 14px;

}
.pink_total{
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
  margin-top: 0;
  
}
.sub_title{
color: #4a4a4a;
font-size: 11px;
font-weight: 400;
text-transform: uppercase;
margin:0;
padding-left: 20px;
}
.text_total{
border-bottom: 1px solid  #e2e2e2;;
}
.total_btn{
color: #ffffff;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
background-color: #f16d7f;
text-align: center;
padding: 19px 0;
margin-top: 20px;
}
.total_btn:hover{
  background-color:#ffffff; 
  border:1px solid #f16d7f;
}
.link_small_cart{
display: flex;
}
.fa-times-circle:hover{
  color: #f16d7f;
  transform: scale(1.5);
}
.link_display{
  display: block;
}
.link_color_total{
color:#ffffff;
}
.total_btn:hover .link_color_total{
  color: #f16d7f;
}
.flex_for_slide{
  display: flex;
  flex-direction: row;

  

}
.slide_place_recall{
  display: flex;
  width:38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 13px;margin-top: 47px;
}
.slide_place_recall:hover{
  background-color: #f16d7f;
}
.link_flex{
  display:flex;
}
