.logo_inscription {
    color: #222222;
    font-family: "Lato", sans-serif;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 13px;
    padding-right: 36px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.pink_letter {
    color: #f16d7f;
    font-weight: 900;
}

.dropdown-select {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    height: 38px;
    width: 87px;
    padding-right: 12px;
    
}

.search_form {
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    height: 38px;
    width: 280px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    padding-left: 16px;
    
    box-sizing: border-box;
    margin-left: -5px;
}

.icon_search {
    background-color: #ffffff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    height: 38px;
    width: 36px;
    box-sizing:border-box;
    margin-left: -5px;

}

.dropdown_account {
    background-color: #f16d7f;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    height: 38px;
    width: 130px;
    padding-left:19px;
    padding-right: 12px;

}

.header_general {
    display: flex;
    justify-content: space-between;
    min-height: 116px;
}

.left_part_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right_part_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon_cart {
    margin-right: 26px;
    height: 29px;
    width:32px;
}
hr {
    height: 1px;
    background-color: #e6e6e6;
    border: none;
    margin:0;
}
.navbar{
    display: flex;
    justify-content: center;
    height: 51px;
    align-items:center;
}
.drop-down_content{
    margin-right: 35px;
    position: relative;
    display: inline-block;
}
.nav_element{
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;  
}
.dropdown_list{
    display: none;
    background-color: black;
    min-width: 200px;
    position: absolute;
    z-index: 1;
}
.dropdown_list_element{
    display: block;
}
.drop-down_content:hover .dropdown_list{
    display: block;
}
